{% extends 'base.html' %}
{% block title%} Parent Login {% endblock %}

{% block content %}
    <div class="font-[sans-serif] bg-gray-900 md:h-screen flex items-center justify-center">
        <div class="grid md:grid-cols-2 items-center gap-8 bg-white shadow-lg rounded-lg overflow-hidden max-w-4xl w-full">
            <div class="hidden md:block p-6">
                <img src="https://i.postimg.cc/g0rM40Bz/logo.png" class="w-full h-full object-contain" alt="login-image" />
            </div>
            <div class="p-8 w-full">
                <form class="max-w-lg w-full mx-auto" method="post">
                    {% csrf_token %}
                    <div class="mb-6">
                        <h3 class="text-gray-800 text-3xl font-bold">Sign in</h3>
                        <p class="text-gray-600 text-sm mt-2">Don't have an account? 
                            <a href="{% url 'signup_parent' %}" class="text-blue-600 font-semibold hover:underline">Register here</a>
                        </p>
                    </div>
                    {% if messages %}
                        <div class="mb-4 text-red-600 text-sm">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="mb-4">
                        <label class="text-gray-800 text-sm block mb-2">Username</label>
                        <div class="relative flex items-center">
                            <input name="username" type="text" required class="w-full text-sm border-b border-gray-300 focus:border-gray-800 pl-8 py-2 outline-none" placeholder="Enter username" />
                            <box-icon name='user' class="absolute left-2" color="#bbb"></box-icon>
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="text-gray-800 text-sm block mb-2">Password</label>
                        <div class="relative flex items-center">
                            <input name="password" type="password" required class="w-full text-sm border-b border-gray-300 focus:border-gray-800 pl-8 py-2 outline-none" placeholder="Enter password" />
                            <box-icon name='lock' class="absolute left-2" color="#bbb"></box-icon>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mb-6">
                        <div class="flex items-center">
                            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-blue-600 border-gray-300 rounded" />
                            <label for="remember-me" class="text-gray-800 ml-2 text-sm">Remember me</label>
                        </div>
                        <a href="{% url 'staff_login'%}" class="text-blue-600 text-sm font-semibold hover:underline">Are you staff ?</a>
                    </div>
                    <button type="submit" class="w-full py-3 text-sm font-semibold tracking-wide rounded-full text-white bg-gray-800 hover:bg-gray-900">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

{% endblock %}
